{% extends "base.html" %}

{% block main %}
   {% from "macros.html" import attachmentList, tableOfContents, childPages, breadcrumbs %}

   <div class="row">
      <div class="col-md-9">
         {{ breadcrumbs(page.parents, page.title, page.url) }}
         {{ page.contents | safe }}
         {{ breadcrumbs(page.parents, page.title, page.url) }}
      </div>

      <div class="col-md-3">
         {{ tableOfContents(page.headings) }}
         {{ attachmentList(page.attachments) }}
         {{ childPages(page.children) }}
      </div>
   </div>
{% endblock %}
